
*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}



.Card{
    margin-top: 50%;
}

html, body{
    height: 100%;
}
img{
    max-width: 100%;
}

#cover{
    background: #222 url('http://7desktopthemes.com/images/dark-abstract-art-backgrounds-wallpaper-2.jpg') center center no-repeat;
    background-size: cover;
    /*color:orange;*/
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 40px;
    
    
}

#cover h1{
    -webkit-text-fill-color:#272727;
    -webkit-text-stroke:2px #32cd32;
}


#cover-texto{
    width: 100%;
}


#cover-texto.form-inline{
    padding: 0Srem;
}

.contenido-seccion{
    padding: 0Srem;
}

#acerca-de{
    background: url('https://images4.alphacoders.com/485/thumb-1920-48578.jpg') center center no-repeat;
    background-size: cover;
    margin-top: 80px;
    padding-top: 80px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 80px;
}

.texto-acerca-de{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

#footer{
    margin-top: 5px;
}

.Cards{
    
    color: white;
    padding-left: 175px;
    padding-right: 175px;
    text-decoration: none;
    
}

#empresa{
    padding: 50px;
}

.card ul li a{
    text-decoration: none;
    color: #272727;
}
.card ul li a:hover{
    color: #32cd32;
    padding-bottom: 100%;
}